In [1]:
import pandas as pd
import numpy as np

In [2]:
uri = 'https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'
df = pd.read_csv(uri)
df.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [3]:
df.rename(columns={'home':'principal','how_it_works':'como_fazer','contact':'contato','bought':'compra'},inplace=True)

In [4]:
df.head()

   principal  como_fazer  contato  compra
0          1           1        0       0
1          1           1        0       0
2          1           1        0       0
3          1           1        0       0
4          1           1        0       0

In [9]:
x = df[['principal','como_fazer','contato']]
y = df['compra']

In [18]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
treino_x, teste_x, treino_y, teste_y = train_test_split(x,y,random_state=101,stratify=y,train_size=0.25)

modelo = LinearSVC()
modelo.fit(treino_x,treino_y)
predissao = modelo.predict(teste_x)
acuracia = accuracy_score(teste_y,predissao)
print(f'A acurácia do modelo é de {acuracia.round(3)*100}%')

A acurácia do modelo é de 97.3%

In [19]:
treino_y.value_counts()

0    16
1     8
Name: compra, dtype: int64

In [20]:
teste_y.value_counts()

0    50
1    25
Name: compra, dtype: int64